<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingCertificate</key>
	<string>iPhone Developer; Developer Profile</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>uploadSymbols</key>
	<true/>
	<key>compileBitcode</key>
	<true/>
	<key>uploadBitcode</key>
	<true/>
	<key>teamID</key>
	<string>devteam</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.bundle.gitlabdemo</key>
		<string>DevelopmentProfile</string>
	</dict>
</dict>
</plist>
